.task {
  position: relative;
  background: var(--container-color);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.task::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
.task:hover::after {
  transform: scaleX(1);
}

.task__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.task__title fa-icon {
  color: rgb(107, 107, 107);
  font-size: 1.1rem;
}
.task__date {
  margin-top: 0.25rem;
}

/* Task with reminder state set on true */
.task.reminder {
  border-left: 0.25rem solid var(--secondary-color);
}
.reminder .task__date {
  color: var(--secondary-color);
}
